{% extends "base.html" %} {% load i18n %} {% block content %}

<h1 class="header">{% trans "Sign In" %}</h1>

<div class="user-account-main-div">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    <div class="username">{{ form.login.label_tag}} {{ form.login }}</div>
    <div class="password">{{form.password.label_tag }} {{ form.password }}</div>
    <div class="remember">
      {{ form.remember.label_tag }} {{ form.remember }}
    </div>

    {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="primaryAction form-button" type="submit">
      {% trans "Sign In" %}
    </button>
    <hr />
    <a
      class="button secondaryAction link-forms"
      href="{% url 'account_reset_password' %}"
      >{% trans "Forgot Password?" %}</a
    >
  </form>
</div>

{% endblock content %}
