@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@400;700&display=swap");

body {
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open-Sans", sans-serif;
    padding: 0;
    min-height: 100vh;
    margin-bottom: 9rem;
    color: #1b1b1b;
}

main {
    margin: 0 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}

.header {
    margin: 2rem 0 1rem 0;
    padding: 0;
    font-weight: 700;
    color: #ff7518;
    width: 50%;
}

.link-forms {
    color: #f54703;
}

#navbar {
    background-color: #f54703;
}

#navbarText>ul>li>a {
    color: #000;
}

#navbarText>span {
    color: #000;
}

a {
    text-decoration: none;
}

/*--------------- MAIN PAGES -------------------------*/

/* INDEX */

.category-header {
    margin: 2rem 0 1rem 0;
    padding: 0;
    color: #fff;
}

.category-column {
    border: 1px solid #8d99ae;
    background-color: #fff;
    height: 6rem;
    margin: 1rem;
    border-radius: 1rem;
}

.category-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #f54703;
    width: 50%;
}

.category-posts {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top: 1rem;
}

.category-title-content {
    width: fit-content;
    float: left;
}

.number-posts {
    width: auto;
    font-size: 0.8rem;
    float: right;
    color: #1b1b1b;
}

.category-content {
    width: inherit;
    color: #1b1b1b;
}

/* POSTS LIST */

#new-post-button {
    color: #ff7518;
    border: 1px solid #ff7518;
    margin: 2rem 0 0.5rem;
    padding: 1rem;
}

.post-info {
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    padding: 1rem;
}

.post-title-list {
    font-size: 1.5rem;
}

.hr-post-list {
    margin: 1rem auto 0.3rem;
}

.number-comments {
    max-width: fit-content;
    font-size: 0.8rem;
}

/* POST */

.post-title {
    font-size: 2rem;
}

.author-created {
    font-size: 0.8rem;
}

.fa-sharp {
    color: #1b1b1b;
}

.post-content {
    margin: 2rem 0;
}

.hr-post {
    margin: 0.2rem 0 1rem 0;
}

.like-count,
.number-comments-post {
    color: #1b1b1b;
}

.update-delete-time {
    margin-top: 2rem;
}

.update-delete-time-comment {
    margin-top: 0.2rem;
}

.update-delete,
.comment-details,
.update-time {
    font-size: 0.8rem;
}

.comment,
.comment-form {
    border: 1px solid #8d99ae;
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

#post-image {
    width: 3rem;
    height: 3rem;
}

#login-comment {
    color: #ff7518;
    border: 1px solid #ff7518;
    padding: 1rem;
}

/*----------------------- USER ACCOUNT MANAGEMENT -------------------------*/

/* SIGN UP & SIGN IN */

.user-account-main-div {
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 2rem;
}

.info-text {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.user-account-main-div>form>* {
    margin-bottom: 1rem;
}

/* PASSWORD RESET */

#contact-us-reset {
    margin: 2rem 0 0 auto;
}

#reset-password-button {
    margin-top: 0.5rem;
}

/* LOG OUT */

.logout-header {
    width: fit-content;
}

.login-logout-text {
    color: #fff;
    width: 100%;
}

.login-logout-button {
    color: #ff7518;
    border: 1px solid #ff7518;
    margin: 2rem 0 0.5rem;
    padding: 1rem;
}

.login-logout-button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.login-in-out-confirmation {
    margin-top: 5rem;
}

/*------------------------- POSTS -------------------------------*/

/* NEW POST */

.new-update-post {
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #fff;
    color: #fff;
}

.new-post>* {
    margin-bottom: 1rem;
}

.form-button {
    margin: 0 1rem 1rem 0;
    background-color: #464545;
    color: #fff;
    border-radius: 1rem;
}

/* DELETE POST */

.delete-post {
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15%;
}

/*----------------------- COMMENT MANAGEMENT -----------------------------*/

/* UPDATE COMMENT */

.update-comment {
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #fff;
    color: #fff;
}

.comment-label {
    margin-bottom: 1rem;
}

#update-comment-button {
    margin-top: 1rem;
}

/* DELETE COMMENT */

.delete-comment {
    width: 100%;
    background-color: #1b1b1b;
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15%;
}

.comment-delete-button {
    margin: 2rem 1rem 1rem 0;
    background-color: #464545;
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
}

/*------------------ FOOTER ------------------------ */

.container-footer {
    width: 100%;
    background-color: #f54703;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    bottom: 0;
}

.row-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-100-social-networks li {
    display: inline-block;
    text-align: center;
    padding: 1rem 1rem 0 0;
    height: 2.5rem;
}

.col-100-social-networks li i {
    color: #1b1b1b;
}

.row-copyright {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}