{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    {% for category in category_list %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ category.title }}</h2>
            <p>{{ category.content }}</p>

            {% if "placeholder" in category.featured_image.url %}
            <img src="https://previews.123rf.com/images/captainvector/captainvector1509/captainvector150901737/45372855-caution-road-sign.jpg"
                alt="" srcset="" id='placeholder-image'/>
            {% else %}
            <img src="" alt="" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}