{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Category Selection -->
    <h1 class="category-header">REVforum categories</h1>
    {% for category in category_list %}
    <div class="justify-content-between category-column">
      <a href="{% url 'posts_list' category.slug %}">
        <div class="align-items-start category-title-content">
          <h2 class="category-title">{{ category.title }}</h2>
          <p class="category-content">{{ category.content }}</p>
        </div>
        <div class="category-posts ms-auto">
          <p class="number-posts">Number of posts</p>
          <span class="number-posts">{{ category.number_of_posts }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
