{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid post">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <div class="author-title d-inline">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="author d-inline">
          {{ post.author.username }} | {{ post.created_on }}
        </p>
      </div>
      <div id="favourite-section">
        <p class="d-inline">Favourite</p>
        <a
          href="{% url 'favourite' category_slug=post.category.slug post_slug=post.slug %}"
          class="favorite-link"
        >
          {% if favourite %}
          <i class="fa-sharp fa-solid fa-star"></i>
          {% else %}
          <i class="fa-sharp fa-regular fa-star"></i>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col post-content">
      <div class="post-text">{{ post.content }}</div>
      <div class="post-image">
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://th.bing.com/th/id/OIP.xe3rSWbIX9wO9lcLgtygawAAAA?w=249&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7"
          alt=""
          srcset=""
          id="post-image"
        />
        {% else %}
        <img src="" alt="" />
        {% endif %}
      </div>
    </div>
    <div class="row post-numbers">
      <div class="col-1 like-numbers">
        <a
          href="{% url 'like' category_slug=post.category.slug post_slug=post.slug %}"
          class="like-link d-inline"
        >
          {% if liked %}
          <i class="fa-sharp fa-solid fa-heart"></i>
          {% else %}
          <i class="fa-sharp fa-regular fa-heart"></i>
          {% endif %}
          <span class="like-count d-inline">{{ post.number_of_likes }}</span>
        </a>
      </div>
      <div class="col-1 comment-numbers d-inline">
        <i class="fa-regular fa-comment"></i> {{ post.number_of_comments }}
      </div>
    </div>
  </div>
  {% if user.is_authenticated and user == post.author %}
  <div class="post-add">
    <a
      class="nav-link"
      href="{% url 'update_post' category_slug=post.category.slug post_slug=post.slug %}"
      >Update Post</a
    >
    <a
      class="nav-link"
      href="{% url 'delete_post' category_slug=post.category.slug post_slug=post.slug %}"
    >
      Delete Post
    </a>
  </div>
  {% endif %}
  <div class="comments-view">
    {% for comment in comments %}
    <p>Posted by: {{ comment.name }}</p>
    <p>{{ comment.body }}</p>
    {% if user.is_authenticated and user.username == comment.name %}
    <a
      class="nav-link"
      href="{% url 'update_comment' category_slug=post.category.slug post_slug=post.slug pk=comment.pk %}"
    >
      Update Comment
    </a>
    <a
      class="nav-link"
      href="{% url 'delete_comment' category_slug=post.category.slug post_slug=post.slug pk=comment.pk %}"
    >
      Delete Comment
    </a>

    {% endif %} {% empty %}
    <h3>No comments yet.</h3>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
  <div class="cold-md-4 card mb-4 mt-3">
    <div class="card-body">
      <h3>Leave a comment:</h3>
      <p>Posting as: {{ user.username }}</p>
      <form style="margin-top: 1.3em" method="post">
        {{ comment_form | crispy }} {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
      </form>
    </div>
  </div>
  {% else %}
  <a
    class="nav-link btn btn-outline justify-content-center"
    id="login-comment"
    href="{% url 'account_login' %}"
    >Login to leave a comment</a
  >
  {% endif %}
</div>

{% endblock %}
