{% extends "base.html" %}

{% block content %}

<div class="post-add">
    <h3>Start a conversation:</h3>
    <a class="nav-link" href="{% url 'create_post' category_slug=category.slug %}">New Post</a>
</div>

<div class="container-fluid">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-sm-12">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
    
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://th.bing.com/th/id/OIP.xe3rSWbIX9wO9lcLgtygawAAAA?w=249&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                alt="" srcset="" />
            {% else %}
            <img src="" alt="" />
            {% endif %}
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}