{% extends "base.html" %} {% block content %}

<!-- Update Post Form -->
<h1 class="header">Update Post</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="new-update-post position-relative">
    <div class="label-post-title">{{ form.title.label_tag }}</div>
    <div class="field-post-title">{{ form.title }}</div>
    <div class="label-post-content">{{ form.content.label_tag }}</div>
    <div class="field-post-content">{{ form.content }}</div>
    <div class="label-image-post-lab">{{ form.featured_image.label_tag }}</div>
    <div class="button-image-post">{{form.featured_image}}</div>
    <div class="d-flex">
      <div class="label-category-post me-2">{{ form.category.label_tag }}</div>
      <div class="dropdown-category-post">{{form.category}}</div>
    </div>
    <button type="submit" class="position-absolute bottom-0 end-0 form-button">
      Update Post
    </button>
  </div>
</form>
{% endblock %}
